:root {
    font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --fira-color-darkest: #00382b;
    --fira-color-dark: #005743;
    --fira-color: #008163;
    --fira-color-light: #00ad85;
    --fira-color-lightest: #00daa7;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color-scheme: light dark;
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
}

.logicBox {
    padding: 1em;
}

.logicBox input {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 90%;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #dcdcdc;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}