:root {
    font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --fira-color-darkest: #00221a;
    --fira-color-dark: #004131;
    --fira-color: #006e55;
    --fira-color-light: #008f6d;
    --fira-color-lightest: #00a780;
    --grey-color-main: #1a1a1a;
    --grey-color-light: #2f2f2f;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: white;
    color-scheme: light dark;
    background-color: var(--grey-color-light);
    font-synthesis: none;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
}

.logicBox {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 80%;
    box-sizing: border-box;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

input[type=text], input[type=password] {
    border-radius: 8px;
    border: 1px solid var(--fira-color);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--grey-color-main);
    cursor: pointer;
    transition: border-color 0.25s;
    width: 95%;
    color: white;
}

.divWrapper {
    border-radius: 8px;
    border: 1px solid var(--fira-color);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--grey-color-main);
    cursor: pointer;
    transition: border-color 0.25s;
    width: 95%;
}

input[type=text]:hover, input[type=password]:hover {
    border-color: #dcdcdc;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 8px;
    border: 1px solid var(--fira-color);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--grey-color-main);
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
}

button:hover {
    border-color: #dcdcdc;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}